//
   Created by ruben on 22/10/2016.
extends layout

block content
  div.overlay
  div.scanlines
  br
  br
  #photos
    ul#photo-gallery
        each item in rows
         li
            a(href="/images/done/#{item.text}")
                img( src="/images/done/#{item.text}")

  script(src='../javascripts/jquery-3.1.1.min.js')
  script.
     var $overlay = $('<div id="overlay"></div>');
     var $image = $("<img>");
     //An image to overlay
     $overlay.append($image);
     //Add overlay
     $("body").append($overlay);
     //click the image and a scaled version of the full size image will appear
     $("#photo-gallery a").click(function (event) {
         event.preventDefault();
         var imageLocation = $(this).attr("href");
         //update overlay with the image linked in the link
         $image.attr("src", imageLocation);
         //show the overlay
         $overlay.show();
     });
     $("#overlay").click(function () {
         $("#overlay").hide();
     });
