extends layout

block content
  div.overlay
  div.scanlines
  br
  br
  h3.titlexD
    //  span.copy  WELCOME TO THIS SITE, OVER HERE THERE WILL BE AN IMAGE DISPLAY WHICH WILL HAVE 15 BYTES REMOVED EVERY 20 MINUTES 4
    //|WELCOME TO THIS SITE, OVER HERE THERE WILL BE AN IMAGE DISPLAY WHICH WILL HAVE 15 BYTES REMOVED EVERY 10 MINUTES


  //p Welcome to this site, over here there is an image being displayed which will have 15 bytes removed every 20 minutes.

  br
  img(src='/images/' + output, id='test')


  script(src='javascripts/jquery-3.1.1.min.js')
  script(src='javascripts/socket.js')
  script.
    var socket = io.connect('https://cryptic-coast-13816.herokuapp.com/');
    // var socket = io.connect('http://localhost');
    socket.on('newGlitch', function (data) {
      console.log(data);
      document.getElementById("test").src = "/images/"+data.picture+"?" + new Date().getTime();
    });

