doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <link rel="shortcut icon" href="/images/src/logo.ico" type="image/x-icon" />
    title= 'nineteen-ninetyeight'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    br
    img(id="header",src="/images/src/ye.png")
    block content
    p.small SMALL PROJECT BY @RUBENNAATJE
    div.bottomInfo
      a(href='https://www.instagram.com/rubennaatje/') INSTAGRAM
      | |
      | BY RUBEN SOERDIEN |
      a(href='/prev/') GALLERY
