body {
  background-color: #0a0b0b;
  text-align: center;
  color: #cecece;

}
body{
  background-color: rgb(10, 10, 10);
  font-family:'VCR';
  font-smooth: never;
  text-shadow: #008c00 0.7px 1px,
               #ff0000 -0.7px -1px,
               -1px 0 black,
               0 1px black,
               1px 0 black,
               0 -1px black,
               0 0 0.1em #cfd6e8,
               0 0 0.1em #cfd6e8,
               0 0 0.1em #cfd6e8;
  letter-spacing: 3px;
 /* background: url(http://api.thumbr.it/whitenoise-361x370.png?background=1a1a1a00&noise=626262&density=32&opacity=18);*/
}

@font-face {
  font-family: VCR;
  src: url("/fonts/VCR_OSD_MONO_1.001.ttf");
}
img#test {
  MAX-Height: 600px;
  max-width: 90%;
}
p.small {
  font-size: 75%;
}
span.copy {
  position: absolute;
  color: red;
  width: 100%;
  z-index: -10;
  left: 15px;
}
div.overlay{
  position:absolute;
  width: 99%;
  height: 99%;
  color: #333333;
  background: url(/images/src/whitenoise-361x370.png);
}
.scanlines {
  position:absolute;
  width: 99%;
  height: 99%;
  opacity: 0.2;
  background:url(

  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGElEQVQYV2NkYGDwYUADjOgCID5IkAKVADYwAOpE6cXhAAAAAElFTkSuQmCC
  ) repeat;
}